@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;400;700&display=swap');


body {
    background-size: cover;
    background-color: aliceblue;
}


table{
    border: 2px solid rgb(192, 20, 20);
}


.title{
    border:  5px solid rgb(156, 20, 20);
    text-align: center;
    margin: 30px;
    padding: 30px;
}


nav {
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'MuseoModerno';
    animation: "animate__wobble";
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}
@media screen and (max-width: 768px) {
	.contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: aqua;
    }
}






   
